// Link component                                  |
// - - - - - - - - - - - - - - - - - - - - - - - - |

.link {
  font-size: 18px;
  font-weight: 400;
  color: $purple;

  &:hover {
    color: $purple;
  }
}