// Typography                                      |
// - - - - - - - - - - - - - - - - - - - - - - - - |

//Font sizes

.title-l {
  font-size: 30px;
  line-height: normal;
}

.title-m {
  font-size: 25px;
  line-height: normal;
}

.title-s {
  font-size: 20px;
  line-height: normal;
}

.default-m {
  font-size: 18px;
  line-height: normal;
}

.default-s {
  font-size: 14px;
  line-height: normal;
}

.default-xs {
  font-size: 12px;
  line-height: normal;
}

//Font weight

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}