// Variables                                       |
// - - - - - - - - - - - - - - - - - - - - - - - - |

// Fonts

$font-source-sans-pro: 'Source Sans Pro', sans-serif;;

// Main colors

$purple: #3b2f61;
$purple-light: #8777b3;
$black: #272727;
$grey: #999999;
$smoke: #f8f8f8;
$pewter: #cccccc;
$white: #fff;
$transparent: transparent;

// Background colors

$background-light: #fff;
$background-smoke: #efeff4;

// Custom media query variables

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
$screen-xl-max: 1440px;