// Footer                                          |
// - - - - - - - - - - - - - - - - - - - - - - - - |

.navbar-footer {
  padding: 80px 0 28px;

  .navbar-copy {
    color: $purple;
    margin: 0;
  }
}