// Main layout                                     |
// - - - - - - - - - - - - - - - - - - - - - - - - |

.main-content {
  padding-left: 110px;
  padding-right: 50px;
  overflow-y: auto;

  @media (max-width: $screen-xs-max) {
    padding-left: 45px;
    padding-right: 76px;
  }
}

